/*
There are two sections in this CSS. First sets up the default style, and the second creates an alternative style for when width is less than 480px.
*/


body {
        background-color:black;
        color:white;
    padding: 20px;
        font-family:Helvetica;
    border: 1px solid white;
}

h1 {
    text-align: center;
        font-family:Helvetica;
}

ul {
    padding: 0px;
    margin: 0px;
}

div{
    width:100%;
    text-align: center;
    position: relative;
    display: inline-block;
}

nav ul li {
     display: inline-block;
    list-style-type: none;
    border: 0px solid black;
    padding: 10px;
    background-color:white;
    color:black;
}

a {
    display; inline;
    background-color: #AAA;
    padding: 2px;
    color: #FFF;
    font-family:monospace;
}

@media only screen and (max-width: 480px) {

    body{
        background-color:white;
        color:black;
    border: 1px solid black;
    }
    nav ul li {
	display: block;
	margin: 0 0 3px 0;
    color: white;
    background-color:black;
    }
}

/*Try multiple width breaks for different devices */
